ARQUIVOS DE APOIO/01 - MODELAGEM COMERCIO OLTP.sql
ARQUIVOS DE APOIO/02 - CARGA CLIENTES.sql
ARQUIVOS DE APOIO/03 - CARGA ENDERECO - Cópia.xls
ARQUIVOS DE APOIO/03 - CARGA ENDERECO.sql
ARQUIVOS DE APOIO/03 - CARGA ENDERECO.xls
ARQUIVOS DE APOIO/04 - CARGA CATEGORIA.sql
ARQUIVOS DE APOIO/05 - CARGA FORNECEDOR.sql
ARQUIVOS DE APOIO/06 - CARGA PRODUTO.sql
ARQUIVOS DE APOIO/07 - CARGA VENDEDOR.sql
ARQUIVOS DE APOIO/08 - CARGA FORMA PAGAMENTO.sql
ARQUIVOS DE APOIO/09 - CARGA NOTA FISCAL.sql
ARQUIVOS DE APOIO/10 - CARGA ITEM NOTA.sql
ARQUIVOS DE APOIO/11 - ATUALIZA VALORES NOTAS FISCAIS.sql
ARQUIVOS DE APOIO/12 - HABILITANDO CONSTRAINTS.sql
ARQUIVOS DE APOIO/12.1 - EXPLICANDO GRAO.sql
ARQUIVOS DE APOIO/13 - AMBIENTE STAGE.sql
ARQUIVOS DE APOIO/14 - CURSOR CAMEL CASE.sql
ARQUIVOS DE APOIO/15 - VIEWS UTEIS.sql
ARQUIVOS DE APOIO/16 - VIEW CARGA ST_FATO.sql
ARQUIVOS DE APOIO/17 - AMBIENTE DATAWAREHOUSE.sql
ARQUIVOS DE APOIO/18 - CARGA DIMENSAO TEMPO.sql
ARQUIVOS DE APOIO/19 - CARGA FATO.sql
ARQUIVOS DE APOIO/20 - CRIACAO DA VIEW.sql
ARQUIVOS DE APOIO/21 - QUERY DO GRAFICO.sql
ARQUIVOS DE APOIO/22 - HABILITANDO PARA CATALOGO.sql
ARQUIVOS DE APOIO/IMAGENS/CELULARES.png
ARQUIVOS DE APOIO/IMAGENS/COMERCIO SA.jpg
ARQUIVOS DE APOIO/IMAGENS/Duas cores sem sombra.fw.png
ARQUIVOS DE APOIO/IMAGENS/DVDS.png
ARQUIVOS DE APOIO/IMAGENS/ELETRODOMESTICOS.png
ARQUIVOS DE APOIO/IMAGENS/GAMES.png
ARQUIVOS DE APOIO/IMAGENS/INFORMATICA.png
ARQUIVOS DE APOIO/IMAGENS/LIVROS.png
ARQUIVOS DE APOIO/IMAGENS/MOVEIS.png
ARQUIVOS DE APOIO/IMAGENS/PASSAGENS.png
ARQUIVOS DE APOIO/IMAGENS/Silver.png
ARQUIVOS DE APOIO/IMAGENS/TV E AUDIO.png
ARQUIVOS DE APOIO/IMAGENS/uma cor sem sombra.fw.png
ARQUIVOS DE APOIO/IMAGENS/Unidados_Camisa_Brancafw.png
EER_diagram.pdf
projeto_banco.mwb.bak
Script_Banco_OLTP_Oselio.sql
projeto_banco.mwb
2 - carga_endereco.csv
0 - create_database_bi.sql
